.Rproj.user
.Rhistory
.RData
tmp/
config/config_proxy.R
config/obs-data-access/*.R
config/mod-data-access/*.R
config/registrations/*
config/ui_credentials.R
run/
log/
old/
etc/
data/obs-data/
data/mod-data/
*.html
shiny/data-upload/global.R
shiny/intro/rsconnect/
.httr-oauth*
