.Rproj.user
.Rhistory
.RData
tmp/
config/config*
config/obs-data-access/*
config/registrations/*
config/policy-preferences/*
config/ui_credentials.R
run/
log/
old/
data/obs-data/
data/mod-data/
*.html